/****
*
*
*
-------------------------- COLORS AND FONTS STYLING --------------------------
*
*
*
****/

:root {
  --darkblue: #1f2937; /* Dark Background Color, info header text, quote text */
  --nearlygray: #e5e7eb; /* Hero Secondary Text, Header Link Text, quote section background */
  --nearlywhite: #f9faf8; /* Header Logo Text */
  --brightblue: #3882f6; /* Button color, CTA background color */
  --darkgray: #8c929a;
}

html * {
  font-family: "Poppins", sans-serif;
}

body,
ul.navbar,
h1,
p,
h2,
h3 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

p {
  font-size: 18px;
}

.header,
.hero,
.footer {
  background-color: var(--darkblue);
}

.quote {
  background-color: var(--nearlygray);
}

h1 {
  font-size: 48px;
  line-height: 48px;
  padding-bottom: 1rem;
  font-weight: 700;
  color: var(--nearlywhite);
}

.header-link a,
.hero-content p {
  font-size: 18px;
  font-weight: 200;
  color: var(--nearlygray);
}

.hero-content p {
  padding-bottom: 1rem;
}

.header-logo a {
  font-size: 24px;
  font-weight: 900;
  color: var(--nearlywhite);
}

.hero-image p {
  background-color: var(--darkgray);
  color: var(--nearlygray);
  font-weight: 300;
}

a.std-btn,
.cta-section,
a.cta-box-btn {
  background-color: var(--brightblue);
  color: var(--nearlywhite);
}

.cta-box-text p {
  font-weight: 300;
  color: var(--nearlygray);
}

.cta-box-text h3 {
  color: var(--nearlywhite);
}

.card-section h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--darkblue);
}

.card p {
  color: var(--darkgray);
}

.quote-text {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  color: var(--darkblue);
}

p.quote-author,
h3.cta-head {
  font-size: 24px;
  font-weight: 500;
}

.footer p {
  color: var(--nearlywhite);
}

/****
*
*
*
--------------------------LAYOUT STYLING - HEADER--------------------------------
*
*
*
****/
ul.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 10%;
}

.header-link.one {
  margin-left: auto;
}

.header-link {
  display: flex;
  margin-left: 16px;
  gap: 10px;
}

.header-link a:hover {
  color: var(--brightblue);
  font-weight: 500;
}

/****
*
*
*
--------------------------LAYOUT STYLING - HERO--------------------------------
*
*
*
****/

.hero {
  height: 60vh;
  display: flex;
  padding: 0 10%;
  align-items: center;
  gap: 30px;
}

.hero-content {
  flex: 1;
}

.hero-image {
  flex: 1;
  height: 30vh;
  display: flex;
}

.hero-image p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.std-btn {
  padding: 5px 30px;
  border-radius: 10px;
  font-weight: 500;
}

.std-btn:hover {
  background-color: var(--nearlygray);
  color: var(--brightblue);
}

/****
*
*
*
-----------------------LAYOUT STYLING - CARD SECTION-----------------------------
*
*
*
****/

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-section h2 {
  text-align: center;
  padding: 3rem 0;
}

.card-image {
  height: 150px;
  border: 0.25rem solid var(--brightblue);
  border-radius: 20px;
  width: 150px;
  display: flex;
}

.card-list {
  display: flex;
  width: 60%;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  padding: 0 8rem 8rem 8rem;
}

/****
*
*
*
----------------------LAYOUT STYLING - QUOTE SECTION-----------------------------
*
*
*
****/

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0;
}

.quote-text {
  display: flex;
  flex: 1;
  width: 60%;
  justify-content: center;
}

.quote-author {
  display: flex;
  flex: 1;
  width: 60%;
  justify-content: flex-end;
}

/****
*
*
*
----------------------LAYOUT STYLING - CTA SECTION-----------------------------
*
*
*
****/

.cta-section {
  margin: 100px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.cta-box {
  display: flex;
  height: 150px;
  align-items: center;
  width: 60vw;
  justify-content: space-between;
}

.cta-box-btn {
  padding: 5px 30px;
  margin: 0 auto;
  font-weight: 500;
  border: 2px solid var(--nearlywhite);
  border-radius: 10px;
}

.cta-box-btn:hover {
  background-color: var(--nearlygray);
  color: var(--brightblue);
}

/****
*
*
*
----------------------LAYOUT STYLING - FOOTER SECTION----------------------------
*
*
*
****/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
